body {
    background: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;

    transition:
        background-color 125ms,
        color 125ms
}

* {
    font-family: "Noto Sans", sans-serif;
}

#conversion-type {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    text-align: inherit;
}

#input-preview,
#canvas {
    image-rendering: pixelated;
    height: 25vw;
}

#input-preview:hover,
#canvas:hover {
    background-color: transparent;
}

#input-div,
#output-div {
    float: left;
    margin: 1em;
}

#theme-switcher {
    position: fixed;
    top: 1em;
    right: 1em;
}

#file-input {
    display: none;
}

#username-submit {
    display: none;
}

#username {
    display: flex;
    align-items: center;
}

.bordered {
    background-color: transparent;
    color: var(--text-color);
    border: solid;
    border-color: var(--text-color);
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.bordered:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.bordered:disabled {
    background-color: color-mix(in srgb, var(--background-color) 75%, var(--text-color) 25%);
    color: color-mix(in srgb, var(--text-color) 75%, var(--background-color) 25%);
}

#username-input {
    color: var(--text-color);
}

#username-input:hover {
    background-color: transparent;
    color: var(--text-color);
}

#username-input:focus {
    color: var(--text-color);
}

#username-input::placeholder {
    color: color-mix(in srgb, var(--text-color), #7F7F7F);
}

.image-label {
    text-align: center;
    font-size: 1.2vw;
}

hidden {
    display: none;
}

#header {
    text-align: center;
    font-size: 2.5vw;
}